body{
    font-family: Arial, sans-serif;
    background:#f4f6f8;
    margin:0;
    padding:20px;
}

.card{
    max-width:400px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
}

button{
    width:100%;
    padding:15px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

button:first-child{
    background:#28a745;
    color:white;
}

button:nth-child(2){
    background:#dc3545;
    color:white;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
}
